/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper {
    display: grid;
    max-width: 1260px;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em 1em;
    margin: 0 auto;
}

/* Root */

:root {
    --blue: #BBCDFF;
    --purple: #CFB6E8;
    --pink: #FFC8E6;
    --darkyellow: #E8B3A2;
    --yellow: #FFE6BB;
    --gradient: linear-gradient(to top right, #BBCDFF, #CFB6E8);
    --grey: #333333;
}

/* Header - ROW 1 */

.header {
    grid-area: 1 / 1 / 2 / 13;
    gap: 1em 1em;
    min-height: 150px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content: center;
    z-index: 1;
}

.logo1 {
    grid-area: 1 / 3 / 2 / 5;
    height: auto;
    max-width: 10em;
    min-width: 5em;
}

.navigation {
    grid-area: 1 / 7 / 2 / 11 ;
    display: flex;
    place-items: center;
    justify-content: space-around;
    font-weight: 600;
    color: var(--grey);
}

.navigation a {
    color: var(--grey);
    text-decoration: none;
}

.login1 {
    grid-area: 1 / 11 / 2 / 12;
    width: 100%;
    height: 50%;
    align-self: center;
    border-radius: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background-color: var(--pink);
    border: 1px solid #EAEAEA;
    /* box-shadow: 2px 4px 2px #cccccc; */
}

/* ROW 2 */

.container-r2 {
    grid-area: 2 / 1 / 3 / 13 ;
    gap: 1em 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: calc(100vh - 150px -  1em);
    z-index: 1;
    color: var(--grey);
}

.textBox-r2 {
    grid-area: 1 / 2 / 2 / 7 ;
    align-self: center;
}

.textBox-r2 h1 {
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 1em;
}

.textBox-r2 .line-r2 {
    width: 50px;
    height: 6px;
    background-color:var(--purple);
    margin-bottom: 1em;
}

.textBox-r2 p {
    margin-bottom: 1em;
    width: 100%;
    font-size: 1.18em;
    font-weight: 500;
}

.buttons-r2 button {
    width: 7em;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.18;
    color: var(--grey);
}

.signup-r2 {
    background-color: var(--purple);
    border: 1px solid #EAEAEA;
}

.Login-r2 {
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
}

.container2-r2 {
    grid-area: 1 / 7 / 2 / 12 ;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.shadow {
    width: 30em;
    align-self: center;
    z-index: 1;
    opacity: 20%;
    mix-blend-mode: multiply;
}

.board {
    width: 28em;
    z-index: 2;
    align-self: center;
}

.piece1 {
    width: 5em;
    align-self: center;
    z-index: 3;
    transform: translateY(10.3em);
    width: 2em;
}

.piece2 {
    width: 5em;
    align-self: center;
    z-index: 3;
    transform: translateY(5em) translateX(3em);
    width: 2em;
}


/* Background elements */

.circle1 {
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    width: 55vw;
    border-radius: 0 0 0 100em;
    background: rgb(207,182,232);
    background: linear-gradient(45deg, rgba(207,182,232,1) 10%, rgba(187,205,255,1) 90%);
    z-index: 0;
}