/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper {
    display: grid;
    max-width: 1260px;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em 1em;
    margin: 0 auto;
}

/* Root */

:root {
    --blue: #BBCDFF;
    --purple: #CFB6E8;
    --pink: #FFC8E6;
    --darkyellow: #E8B3A2;
    --yellow: #FFE6BB;
    --gradient: linear-gradient(to top right, #BBCDFF, #CFB6E8);
    --grey: #333333;
}

/* Header - ROW 1 */

.header {
    grid-area: 1 / 1 / 2 / 13;
    gap: 1em 1em;
    min-height: 150px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content: center;
    z-index: 1;
}

.logo1 {
    grid-area: 1 / 2 / 2 / 5;
    height: auto;
    max-width: 10em;
    min-width: 5em;
}

.navigation {
    grid-area: 1 / 7 / 2 / 11 ;
    display: flex;
    place-items: center;
    justify-content: space-around;
    font-weight: 600;
    color: var(--grey);
}

.navigation a {
    color: var(--grey);
    text-decoration: none;
}

.login1 {
    grid-area: 1 / 11 / 2 / 12;
    width: 100%;
    height: 35%;
    align-self: center;
    border-radius: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background-color: var(--pink);
    border: 1px solid #EAEAEA;
    /* box-shadow: 2px 4px 2px #cccccc; */
}

/* ROW 2 */

.container-r2 {
    grid-area: 2 / 1 / 3 / 13 ;
    gap: 1em 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: calc(90vh - 150px -  1em);
    z-index: 1;
    color: var(--grey);
}

.textBox-r2 {
    grid-area: 1 / 2 / 2 / 7 ;
    align-self: center;
}

.textBox-r2 h1 {
    font-size: 3.4em;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: .5em;
}

.textBox-r2 .line-r2 {
    width: 50px;
    height: 6px;
    background-color:var(--purple);
    margin-bottom: 2em;
}

.textBox-r2 p {
    margin-bottom: 1em;
    width: 100%;
    font-size: 1.18em;
    font-weight: 500;
    line-height: 1.3;
}

.buttons-r2 button {
    width: 7em;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.18;
    color: var(--grey);
}

.signup-r2 {
    background-color: var(--pink);
    border: 1px solid #EAEAEA;
}

.Login-r2 {
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
}

.container2-r2 {
    grid-area: 1 / 7 / 2 / 12 ;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.shadow {
    width: 30em;
    align-self: center;
    z-index: 1;
    opacity: 20%;
    transform: translateY(-10em);
    animation: size 10s ease-in-out infinite;
}

@keyframes size {
    0%{
        transform: translateY(-10em) scale(1.05,1.05);
        opacity: 10%;
    }
    50%{
        transform: translateY(-10em) scale(0.9,0.9);
        opacity: 20%;
    }
    100%{
        transform: translateY(-10em) scale(1.05,1.05);
        opacity: 10%;
    }
}

.board {
    width: 28em;
    z-index: 2;
    align-self: center;
    animation: bounce2 10s ease-in-out infinite;
}

@keyframes bounce2 {
    0%{
        transform: translateY(0em) ;
    }
    50%{
        transform: translateY(1em);
    }
    100%{
        transform: translateY(0em);
    }
}

.piece1 {
    width: 5em;
    align-self: center;
    z-index: 3;
    width: 2em;
}

/* black pieces */

.p2 {
    transform: translateX(1.6em) translateY(9.5em);
    animation: bounce3 10s ease infinite;
}

@keyframes bounce3 {
    0%{
        transform: translateX(1.6em) translateY(9.5em) rotate(0deg);
    }
    50%{
        transform: translateX(1.6em) translateY(8em) rotate(20deg);
    }
    100%{
        transform: translateX(1.6em) translateY(9.5em) rotate(0deg);
    }
}

.p3 {
    transform: translateX(-1.6em) translateY(9em);
    animation: bounce4 10s ease infinite;
    animation-delay: 1.5s;
}

@keyframes bounce4 {
    0%{
        transform: translateX(-1.6em) translateY(9em) rotate(0deg);
    }
    50%{
        transform: translateX(-1.6em) translateY(6em) rotate(-15deg);
    }
    100%{
        transform: translateX(-1.6em) translateY(9em) rotate(0deg);
    }
}

.p4 {
    transform: translateX(-4.8em) translateY(12.6em);
    animation: bounce5 10s ease-in-out infinite;
    animation-delay: 1.0s;
}

@keyframes bounce5 {
    0%{
        transform: translateX(-4.8em) translateY(12.6em) rotate(0deg);
    }
    50%{
        transform: translateX(-4.8em) translateY(10em) rotate(18deg);
    }
    100%{
        transform: translateX(-4.8em) translateY(12.6em) rotate(0deg);
    }
}

.p5 {
    transform: translateX(-1.7em) translateY(17em);
    animation: bounce6 10s ease-in-out infinite;
    animation-delay: 2.0s;
}

@keyframes bounce6 {
    0%{
        transform: translateX(-1.7em) translateY(17em) rotate(0deg);
    }
    50%{
        transform: translateX(-1.7em) translateY(13em) rotate(-12deg);
    }
    100%{
        transform: translateX(-1.7em) translateY(17em) rotate(0deg);
    }
}

.p6 {
    transform: translateX(-8.3em) translateY(10em);
    animation: bounce7 10s ease-in-out infinite;
    animation-delay: 2.5s;
}

@keyframes bounce7 {
    0%{
        transform: translateX(-8.3em) translateY(10em) rotate(0deg);
    }
    50%{
        transform: translateX(-8.3em) translateY(3em) rotate(10deg);
    }
    100%{
        transform: translateX(-8.3em) translateY(10em) rotate(0deg);
    }
}

.piece2 {
    width: 5em;
    align-self: center;
    z-index: 3;
    width: 2em;
}

/* red pieces */

.p7 {
    transform: translateY(11.9em) translateX(-1.6em);
    animation: bounce8 10s ease-in-out infinite;
}

@keyframes bounce8 {
    0%{
        transform: translateY(11.9em) translateX(-1.6em) rotate(0deg);
    }
    50%{
        transform: translateY(7em) translateX(-1.6em) rotate(-15deg);
    }
    100%{
        transform: translateY(11.9em) translateX(-1.6em) rotate(0deg);
    }
}

.p8 {
    transform: translateY(8em) translateX(2em);
    animation: bounce9 10s ease-in-out infinite;
    animation-delay: 0.5s;
}

@keyframes bounce9 {
    0%{
        transform: translateY(8em) translateX(2em) rotate(0deg);
    }
    50%{
        transform: translateY(6em) translateX(2em) rotate(20deg);
    }
    100%{
        transform: translateY(8em) translateX(2em) rotate(0deg);
    }
}

.p9 {
    transform: translateY(13em) translateX(5em);
    animation: bounce10 10s ease-in-out infinite;
    animation-delay: 2.5s;
}

@keyframes bounce10 {
    0%{
        transform: translateY(13em) translateX(5em) rotate(0deg);
    }
    50%{
        transform: translateY(6em) translateX(5em) rotate(-17deg);
    }
    100%{
        transform: translateY(13em) translateX(5em) rotate(0deg);
    }
}

.p10 {
    transform: translateY(21em) translateX(4.8em);
    animation: bounce11 10s ease-in-out infinite;
    animation-delay: 2.0s;
}

@keyframes bounce11 {
    0%{
        transform: translateY(21em) translateX(4.8em) rotate(0deg);
    }
    50%{
        transform: translateY(16em) translateX(4.8em) rotate(-12deg);
    }
    100%{
        transform: translateY(21em) translateX(4.8em) rotate(0deg);
    }
}

.p11 {
    transform: translateY(19.3em) translateX(8em);
    animation: bounce12 10s ease-in-out infinite;
    animation-delay: 1.5s;
}

@keyframes bounce12 {
    0%{
        transform: translateY(19.3em) translateX(8em) rotate(0deg);
    }
    50%{
        transform: translateY(17em) translateX(8em) rotate(12deg);
    }
    100%{
        transform: translateY(19.3em) translateX(8em) rotate(0deg);
    }
}

/* Row 3 */

.container-row3{
    grid-area: 3 / 1 / 4 / 13 ;
    gap: 1em 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    z-index: 1;
    align-items: center;
}

.ready {
    grid-column: 3 / 7;
    font-size: 3em;
    font-weight: 900;
    color: #333333;
    margin-bottom: .5em;
}

.line-r3 {
    grid-column: 3 / 7;   
    width: 50px;
    height: 6px;
    background-color:var(--purple);
    margin-bottom: 2em;
}

/* row 4 */

.container-r4 {
    grid-area: 4 / 1 / 5 / 13 ;
    gap: 1em 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    z-index: 1;
    align-items: center;
    height: 40vh
}

.card1 {
    grid-column: 3 / 5;

    display: flex;
    border-radius: 20px;
    height: 15em;
    z-index: 1;
    margin-bottom: 1em;
    border: 1px solid var(--purple);
    justify-content: center;
    width: 110%;
    align-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(50px);
    background-clip: padding-box;
}

.card1 img {
    height: 6em;
    width: 5.3em;
}

.car1text{
    margin-top: 1em;
    font-weight: 900;
    font-size: 16pt;
}

.card2 {
    grid-column: 6 / 8;

    display: flex;
    width: 110%;
    border-radius: 20px;
    height: 15em;
    z-index: 1;
    margin-bottom: 1em;
    border: 1px solid var(--purple);
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(30px);
    background-clip: padding-box;
}

.card2 img {
    height: 4em;
    width: 6em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.car2text {
    margin-top: 1em;
    font-weight: 900;
    font-size: 16pt;

}

.card3 {
    grid-column: 9 / 11;

    display: flex;
    border-radius: 20px;
    width: 110%;
    height: 15em;
    z-index: 1;
    margin-bottom: 1em;
    border: 1px solid var(--purple);
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(30px);
    background-clip: padding-box;
}

.card3 img {
    height: 4em;
    width: 8em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.car3text {
    margin-top: 1em;
    font-weight: 900;
    font-size: 16pt;
}

/* row 5 */

.recomends {
    grid-column: 2 / 13;
    font-size: 3em;
    font-weight: 900;
    color: #333333;
    margin-bottom: .5em;
    margin-top: 2em;
}

.line-r5 {
    grid-column: 2 / 7;   
    width: 50px;
    height: 6px;
    background-color:var(--purple);
    margin-bottom: 2em;
}

.container-r6 {
    grid-area: 6 / 1 / 7 / 13 ;
    gap: 1em 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    z-index: 1;
    align-items: center;
}

/* Row 6 */

.friends {
    grid-column: 3 / 6;
    z-index: 1;
    
}

.textcontainer1 {
    grid-column: 7 / 11; 
    display: flex;
    border-radius: 20px;
    padding: 1.5em;
    z-index: 2;
    margin-bottom: 1em;
    border: 1px solid var(--purple);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    margin-top: 1em;
    font-weight: 600;
    font-size: 14pt;
    align-self: center;
    backdrop-filter: blur(50px);
    background-clip: padding-box;
}

/* row 7 */

.puckyboard {
    grid-area: 8 / 7 / 9 / 10;
    margin-top: 6em;
    z-index: 1;
    
}

.textcontainer2 {
    grid-area: 8 / 4 / 9 / 8;
    display: flex;
    border-radius: 20px;
    padding: 1.5em;
    z-index: 2;
    margin-bottom: 1em;
    border: 1px solid var(--purple);
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: right;
    margin-top: 1em;
    font-weight: 600;
    font-size: 14pt;
    align-self: center;
    backdrop-filter: blur(50px);
    background-clip: padding-box;
}

/* Last row */

.waiting {
    grid-column: 1 / 13;
    font-size: 3em;
    font-weight: 900;
    color: #333333;
    margin-bottom: .5em;
    margin-top: 6em;
    text-align: center;
}

.line-r9{
    grid-column: 6 / 8;   
    width: 50px;
    height: 6px;
    background-color:var(--purple);
    margin-bottom: 3em;
    margin: 0 auto;
}

.finaltext {
    grid-column: 4 / 10 ;
    text-align: center;
    margin-top: 2em;
    font-weight: 600;
    font-size: 16pt;
}

.finalsignup {
    grid-column: 5 / 9;
    height: 3em;
    max-width: 10em;
    margin-top: 2em;
    text-align: center;
    font-weight: 900;
    font-size: 16pt;
    font-family: 'Quicksand', sans-serif;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 2em;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--pink);
    border: 1px solid #EAEAEA;
}

.bottomlogo {
    grid-column: 6 / 8;
    max-width: 10em;
    min-width: 5em;
    justify-self: center;
    margin: 3em;
}

/* Background elements */

.circle1 {
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
    width: 55vw;
    border-radius: 0 0 0 100em;
    background: rgb(207,182,232);
    background: linear-gradient(45deg, rgba(207,182,232,1) 10%, rgba(187,205,255,1) 90%);
    z-index: 0;
}

.circle2 {
    position: absolute;
    left: 0;
    top: 80vh;
    height: 70vh;
    width: 20vw;
    border-radius: 0 100em 100em 0;
    background: rgb(207,182,232);
    background: linear-gradient(45deg, rgba(207,182,232,1) 10%, rgba(187,205,255,1) 90%);
    z-index: 0;
}

.circle3 {
    position: absolute;
    right: 0;
    top: 180vh;
    height: 70vh;
    width: 20vw;
    border-radius: 100em 0em 0em 100em;
    background: rgb(207,182,232);
    background: linear-gradient(45deg, rgba(207,182,232,1) 10%, rgba(187,205,255,1) 90%);
    z-index: 0;
}

.circle4 {
    position: absolute;
    opacity: 0.3;
    height: 200px;
    width: 200px;
    transform: translateX(340%) translateY(120%);
    border-radius: 100em 100em 100em 100em;
    background: rgb(207,182,232);
    background: linear-gradient(45deg, rgba(207,182,232,1) 10%, rgba(187,205,255,1) 90%);
    z-index: 0;
}

.circle5 {
    position: absolute;
    opacity: 0.3;
    height: 150px;
    width: 150px;
    top: 2300px;
    border-radius: 100em 100em 100em 100em;
    background: rgb(207,182,232);
    background: linear-gradient(45deg, rgba(207,182,232,1) 10%, rgba(187,205,255,1) 90%);
    z-index: 0;
}

.circle6 {
    position: absolute;
    right:80%;
    top: 260%;
    height: 1000px;
    width: 1000px;
    border-radius: 100em;
    background: rgb(207,182,232);
    background: linear-gradient(45deg, rgba(207,182,232,1) 10%, rgba(187,205,255,1) 90%);
    z-index: 0;
}